[submodule "src/protected/extensions/sqmparser"]
	path = src/protected/extensions/sqmparser
	url = git@github.com:MichaelKling/SQMParser.git
[submodule "src/protected/modules/acl"]
	path = src/protected/modules/acl
	url = git@github.com:dispyfree/acl.git
[submodule "src/protected/extensions/wr"]
	path = src/protected/extensions/wr
	url = git@github.com:yiiext/with-related-behavior.git
[submodule "src/protected/extensions/x-editable"]
	path = src/protected/extensions/x-editable
	url = git@github.com:vitalets/x-editable-yii.git
[submodule "src/protected/extensions/yii-chartjs"]
	path = src/protected/extensions/yii-chartjs
	url = git@github.com:MeiSign/yii-chartjs.git
