[submodule "src/protected/extensions/sqmparser"]
	path = src/protected/extensions/sqmparser
	url = git@github.com:MichaelKling/SQMParser.git
[submodule "src/protected/modules/acl"]
	path = src/protected/modules/acl
	url = git@github.com:ascendro/acl.git
[submodule "src/protected/extensions/wr"]
	path = src/protected/extensions/wr
	url = git@github.com:yiiext/with-related-behavior.git
[submodule "src/protected/extensions/x-editable"]
	path = src/protected/extensions/x-editable
	url = git@github.com:vitalets/x-editable-yii.git
[submodule "src/protected/extensions/yii-chartjs"]
	path = src/protected/extensions/yii-chartjs
	url = git@github.com:MeiSign/yii-chartjs.git
[submodule "src/protected/extensions/gameq2"]
	path = src/protected/extensions/gameq2
	url = git@github.com:Austinb/GameQ.git
[submodule "src/protected/extensions/pboextractor"]
	path = src/protected/extensions/pboextractor
	url = git@github.com:MichaelKling/pboExtractor.git
[submodule "src/protected/extensions/cpboExtractor"]
	path = src/protected/extensions/cpboExtractor
	url = git@github.com:MichaelKling/C-pboExtractor.git
[submodule "src/protected/extensions/csqmparser"]
	path = src/protected/extensions/csqmparser
	url = git@github.com:MichaelKling/C-SQMParser.git
[submodule "src/protected/modules/user"]
	path = src/protected/modules/user
	url = git@github.com:MichaelKling/yii-user-for-fec.git
[submodule "src/protected/extensions/hoauth"]
	path = src/protected/extensions/hoauth
	url = git@github.com:SleepWalker/hoauth.git
[submodule "src/protected/extensions/yii-graphviz"]
	path = src/protected/extensions/yii-graphviz
	url = git@github.com:ascendro/yii-graphviz.git
[submodule "src/protected/extensions/yii-acl-visualisation"]
	path = src/protected/extensions/yii-acl-visualisation
	url = git@github.com:ascendro/yii-acl-visualisation.git
